{% extends 'base.html' %}
{% load static %}
{% block main %}

<section class="flat-title-page inner">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading center">
                    <h2 class="heading ">Про нас</h2>
                    <div class="title-inner link-style-3">
                        <h5 class=""><a class="home fw-4" href="{% url 'index' %}">Главная</a><span>Про нас</span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tf-section flat-our">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 ">
                <div class="box">
                    <div class="title title-36 fw-7 text-color-6">Чому ми</div>
                    <p>"Зоомагазин "Наші Друзі" - це ваш надійний помічник у догляді за улюбленцями.
                        Ми пропонуємо якісні товари для всіх видів тварин, гарантуємо безпеку та комфорт.
                        Швидке та зручне замовлення разом із нами - це простий спосіб піклуватися про вашого улюбленця.
                        Довіряйте "Наші Друзі" - ми покладаємо добробут та щастя тварин на перше місце."</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="box box-3">
                    <div class="title title-36 fw-7 text-color-6">Наше виденье</div>
                    <p>Ми заснували наш зоомагазин з однією метою - зробити життя домашніх улюбленців щасливішим і
                        господарів зручнішим. Наше видіння - це добробут тварин, який досягається завдяки якісним
                        товарам та сервісу. Ми прагнемо створити спільноту, яка підтримує вас у догляді за вашими
                        улюбленцями та сприяє захисту прав тварин.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="flat-count">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="themes-count tf-counter flex-one">
                    <div class="counter-box">
                        <div class="content wow fadeInUp" data-wow-delay="0ms" data-wow-duration="2000ms">
                            <div class="count-number ">
                                <div class="number" data-inviewport="yes" data-speed="2000" data-to="1125">1125</div>
                            </div>
                            <h3 class="title-count fw-5">Задоволені клієнти</h3>
                        </div>
                    </div>
                    <div class="counter-box">
                        <div class="content wow fadeInUp" data-wow-delay="0ms" data-wow-duration="2000ms">
                            <div class="count-number ">
                                <div class="number" data-inviewport="yes" data-speed="2000" data-to="678">678</div>
                            </div>
                            <h3 class="title-count fw-5">Оценки экспертов</h3>
                        </div>
                    </div>
                    <div class="counter-box">
                        <div class="content wow fadeInUp" data-wow-delay="0ms" data-wow-duration="2000ms">
                            <div class="count-number ">
                                <div class="number" data-inviewport="yes" data-speed="2000" data-to="285">285</div>
                            </div>
                            <h3 class="title-count fw-5">Оцінки експертів</h3>
                        </div>
                    </div>
                    <div class="counter-box">
                        <div class="content wow fadeInUp" data-wow-delay="0ms" data-wow-duration="2000ms">
                            <div class="count-number">
                                <div class="number" data-inviewport="yes" data-speed="2000" data-to="15">15</div>
                            </div>
                            <h3 class="title-count fw-5">Победи в номінаціях</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tf-section flat-about page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-7">
                <div class="wrap-about">
                    <div class="heading-section">
                        <h2>Відмінні товари</h2>
                        <p>У нашому асортименті ви знайдете найцікавіші та найнеочікуваніші товари. Ми постійно
                            оновлюємо наш вибір, щоб забезпечити вас унікальними та нестандартними знахідками, які
                            зроблять ваше життя більш цікавим та незабутнім. Вишукані аксесуари, стильні рішення та
                            найнеабичайніші вироби - все це на вас чекає в нашому магазині</p>
                    </div>
                    <div class="box-icon flex">
                        <div class="icon">
                            <img alt="images" class="img" src="{% static 'images/icon/icon-2.png' %}">
                        </div>
                        <div class="content">
                            <h3 class="link-style-1"><a href="#">Качественні товари</a></h3>
                            <p>Наші товари - це гарантія якості. Ми забезпечуємо надійність, безпеку та комфорт.
                                Обираючи нас, ви обираєте догляд за вашим пушистим другом.</p>
                        </div>
                    </div>
                    <div class="box-icon flex">
                        <div class="icon">
                            <img alt="images" class="img" src="{% static 'images/icon/icon-3.png' %}">
                        </div>
                        <div class="content">
                            <h3 class="link-style-1"><a href="#">Підхід до кожного клієнта</a></h3>
                            <p>Кожен клієнт - особливий. Ми прагнемо задовольнити ваші потреби та надати персональний
                                сервіс, щоб ви були повністю задоволені нашими послугами.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-5">
                <div class="wrap-img relative center">
                    <div class="images image-1">
                        <img alt="images" src="{% static 'images/img-box/about-image-2.jpg' %}">
                    </div>
                    <div class="images image-2">
                        <img alt="images" src="{% static 'images/img-box/about-image-3.jpg' %}">
                    </div>
                    <div class="mark-image">
                        <img alt="images" src="{% static 'images/mark/mark-about.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="flat-icon page">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="box-icon">
                    <div class="icon">
                        <img alt="images" class="img" src="{% static 'images/icon/icon-5.png' %}">
                    </div>
                    <div class="content">
                        <h3 class="link-style-6"><a href="#">Креативний дизайн</a></h3>
                        <p>На нашому сайті ви знайдете креативний дизайн, який додасть унікальності та естетики вашим
                            проєктам і ідеям</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="box-icon">
                    <div class="icon style-2">
                        <img alt="images" class="img" src="{% static 'images/icon/icon-6.png' %}">
                    </div>
                    <div class="content">
                        <h3 class="link-style-1"><a href="#">100% Повернення коштив</a></h3>
                        <p>На нашому сайті діє політика повернення коштів за товар. Ми прагнемо зробити вашу покупку
                            надійною та безпечною.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="box-icon">
                    <div class="icon">
                        <img alt="images" class="img" src="{% static 'images/icon/icon-7.png' %}">
                    </div>
                    <div class="content">
                        <h3 class="link-style-6"><a href="#">Ми на зв'язку 24/7</a></h3>
                        <p>"Наша команда завжди на зв'язку для вас, готова відповісти на всі ваші запитання та
                            допомогти в будь-який час"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tf-section2 flat-testimonials center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="heading-section">
                    <h2 class="text-color-1">Відгуки наших клієнтів</h2>
                </div>
                <div class="swiper-container carousel-2" data-aos="fade-up" data-aos-duration="2000">
                    <div class="swiper-wrapper slider-style">
                        <div class="swiper-slide">
                            <div class="box-testi">
                                <img alt="images" class="img-testi" src="{% static 'images/icon/icon-testi.png' %}">
                                <h5 class="text-color-4">Моя оцінка доставці - "відмінно"! Як чоловік, ціную швидкість
                                    та надійність. Замовив товари у вашому магазині та був приємно вражений.
                                    Замовлення було оформлено швидко, і товари прибули швидко. Кур'єр був ввічливим
                                    та професійним.
                                    Служба підтримки була дуже корисною та відповіла на всі мої запитання.
                                    Дякую за відмінну доставку, я рекомендую ваш магазин!</h5>
                                <div class="author">
                                    <div class="images-author">
                                        <img alt="images" src="{% static 'images/img-box/testi-4.jpg' %}">
                                    </div>
                                    <h4 class="text-color-1 fw-6">Валентiн Полiш</h4>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box-testi">
                                <img alt="images" class="img-testi" src="{% static 'images/icon/icon-testi.png' %}">
                                <h5 class="text-color-4">Хочу поділитися враженнями від наших останніх покупок товарів.
                                    Замовила справжні красивощі та все прибуло швидше, ніж я встигла подумати.
                                    Кур'єр був чемний та дуже ввічливий.
                                    Ці покупки залишили в мене відчуття задоволення та надійності. Всі товари були в
                                    цілковитому порядку, без найменших пошкоджень.
                                    Приємно було взаємодіяти із службою підтримки. Вони були відкриті для запитань та
                                    завжди надавали чітку інформацію.
                                    Велике спасибі за ваш відмінний сервіс. Ваші товари точно виправдали мої очікування
                                    та підтвердили вищий стандарт обслуговування!</h5>
                                <div class="author">
                                    <div class="images-author">
                                        <img alt="images" src="{% static 'images/img-box/testi-2.jpg' %}">
                                    </div>
                                    <h4 class="text-color-1 fw-6">Ганна Телiга</h4>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box-testi">
                                <img alt="images" class="img-testi" src="{% static 'images/icon/icon-testi.png' %}">
                                <h5 class="text-color-4">Цей товар - справжня знахідка! Він вирішив мої потреби і вказав
                                    на високу якість. Легко використовувати та надзвичайно корисний. Я в захваті</h5>
                                <div class="author">
                                    <div class="images-author">
                                        <img alt="images" src="{% static 'images/img-box/testi-1.jpg' %}">
                                    </div>
                                    <h4 class="text-color-1 fw-6">Євген Білетін</h4>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box-testi">
                                <img alt="images" class="img-testi" src="{% static 'images/icon/icon-testi.png' %}">
                                <h5 class="text-color-4">"Товар - просто диво! Я зачарована якістю і функціональністю.
                                    Він точно відповідає опису і вартості. Рекомендую всім!"</h5>
                                <div class="author">
                                    <div class="images-author">
                                        <img alt="images" src="{% static 'images/img-box/testi-3.jpg' %}">
                                    </div>
                                    <h4 class="text-color-1 fw-6">Ксенія Мариченко</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tf-section2 flat-icon page2 center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="heading-section">
                    <h2 class="text-unset">Наш девіз</h2>
                    <p>Наш девіз - Дружба та Добробут на кожному кроці. Ми прагнемо створити світ, де тварини та їхні
                        господарі живуть у гармонії. Ми віримо в безмежну любов і піклування про своїх пушистих та
                        пернатих друзів, і саме ця пристрасть вдихає життя в нашу роботу.
                        Ми докладаємо всі можливі зусилля, щоб забезпечити вашим улюбленцям всі необхідність та радощі,
                        та зробити процес догляду легшим і приємнішим для вас. Наш девіз підкреслює нашу відданість
                        забезпечити їм щасливе і здорове життя, де кожен крок наповнений дружбою та добробутом.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="box-icon box-1">
                    <div class="icon">
                        <img alt="images" class="img" src="{% static 'images/icon/icon-8.png' %}">
                    </div>
                    <div class="content">
                        <h3 class="link-style-6"><a href="#">Швидка доставка</a></h3>
                        <p> Швидка доставка по Україні. Відправка протягом 24 годин. Ваші покупки завжди поруч </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="box-icon box-2">
                    <div class="icon style-2">
                        <img alt="images" class="img" src="{% static 'images/icon/icon-9.png' %}">
                    </div>
                    <div class="content">
                        <h3 class="link-style-1"><a href="#">Тільки якісні товари</a></h3>
                        <p> Широкий вибір та надійна якість – наша гордість. Обирайте якість для вашого комфорту і
                            задоволення </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="box-icon box-3">
                    <div class="icon">
                        <img alt="images" class="img" src="{% static 'images/icon/icon-10.png' %}">
                    </div>
                    <div class="content">
                        <h3 class="link-style-6"><a href="#">Надійні постачальники</a></h3>
                        <p> Надійні постачальники - гарантія успіху. Оберіть надійність для вашого бізнесу. Довіряйте
                            професіоналам </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="flat-brand page">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="brand-slider">
                    <div class="swiper-container carousel-3">

                        <div class="swiper-wrapper">
                            {% for brand in brands %}
                            <div class="swiper-slide">
                                <div class="slogan-logo">
                                    <a href="{{ brand.name }}">
                                        <img alt="images" src="{{ brand.logo.url }}">
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="swiper-slide">
                                <div class="slogan-logo active">
                                    <a href="#">
                                        <img alt="images" src="{{ brand.logo }}">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
{% include 'subscribe.html' %}

{% endblock main %}