{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
<meta charset="utf-8">
<title>Vikan - Organic Food Store HTML Template</title>
<meta name="author" content="themesflat.com">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="{% static 'dist/font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'dist/app.css' %}">
<link rel="stylesheet" href="{% static 'dist/responsive.css' %}">

<link rel="shortcut icon" href="{% static 'images/logo/Favicon.png' %}">
<link rel="apple-touch-icon-precomposed" href="{% static 'images/logo/Favicon.png' %}">
</head>
<body class="body header-fixed">

<div class="preload preload-container">
<div id="loaders">
<div id="shadow"></div>
<div id="box"></div>
</div>
</div>

<div id="wrapper">
<div id="page" class="clearfix">
<div id="top-bar" class="home2 home3">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12">
<div class="inner flex-one">
<div class="top-bar-left top-box flex-three">
<h6 class="title-ma"> Free Shipping For All Orders Of $150 </h6>
<h6 class="link-style-2"><a href="blog.html"> Newsletter </a></h6>
<h6 class="link-style-2"><a href="contact.html">Contact Us </a> </h6>
<h6 class="link-style-2"><a href="faq.html">FAQs</a> </h6>
</div>
<div class="top-bar-right top-box flex-three">
<div id="item_category" class="dropdown title-dropdown ">
<a href="#" class="btn-selector nolink ">English</a>
<ul>
<li><span>English</span></li>
<li><span>Vietnam</span></li>
</ul>
</div>
<div id="item_category2" class="dropdown title-dropdown ">
<a href="#" class="btn-selector nolink ">USD</a>
<ul>
<li><span>USD</span></li>
<li><span>EUR</span></li>
<li><span>VND</span></li>
</ul>
</div>
<div class="icon-top link-style-2">
<a href="#"><i class="fab fa-facebook-f"></i></a>
<a href="#"><i class="fab fa-twitter"></i></a>
<a href="#"><i class="fab fa-instagram"></i></a>
<a href="#"><i class="fab fa-youtube"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="header-middle">
<div class="container ">
<div class="row">
<div class="col-md-12">
<div id="site-header-01">
<div class="wrap-box relative">
 <div id="site-logo">
<div id="site-logo-inner">
<a href="index.html" rel="home" class="main-logo">
<img id="logo_header" src="{% static 'images/logo/logo.png' %}" alt="img" width="169" height="42">
</a>
</div>
</div>
<div class="search-header search">
<form action="#" method="get" role="search" class="search-form">
<input type="search" class="search-field" placeholder="Search Product Here" value="" name="s" title="Search for" required="">
<button class="search-icon search-submit" type="submit" title="Search"></button>
</form>
</div>
<div class="header-account flex-three">
<div class="register">
<ul class="flex">
<li class="link-style-1"><a href="#">Login</a></li>
<li><span>/</span></li>
<li class="link-style-1"><a href="#">Register </a></li>
</ul>
</div>
<div class="cart-wrap header-search flex">
<a href="#" class="icon-heart"><i class="far fa-heart"></i></a>
<div class="cart-box flex">
<div class="relative">
<a href="#" class="cart"><i class="fas fa-shopping-basket"></i> </a>
<a href="#" class="cart-contents"><span>2</span> </a>
</div>
<a href="#" class="title-money fw-5">$1.00</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

 {% include 'header.html' %}

 {% block main %}{% endblock main %}

 {% include 'footer.html' %}

<div class="widget-social-footer">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-12 col-sm-12">
<h5 class="title-bottom fw-4"> Copyright © 2022 <a href="https://themeforest.net/user/themesflat/portfolio" class="text-color-3">Themesflat</a>. All Rights Reserved. </h5>
</div>
<div class="col-lg-6 col-md-12 col-sm-12">
<div class="icon-bottom text-color-1">
<a href="#"><i class="fab fa-facebook-f"></i></a>
<a href="#"><i class="fab fa-twitter"></i></a>
<a href="#"><i class="fab fa-instagram"></i></a>
<a href="#"><i class="fab fa-pinterest-p"></i></a>
</div>
</div>
</div>
</div>
</div>

</div>

<div class="img-svg">
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
<defs>
<filter id="goo">
<feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
<feColorMatrix in="blur" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
<feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
</filter>
</defs>
</svg>
</div>
</div>



<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.js' %}"></script>
<script src="{% static 'js/countto.js' %}"></script>
<script src="{% static 'js/countday.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/swiper.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/jquery-validate.js' %}"></script>
<script src="{% static 'js/plugin.js' %}"></script>
<script src="{% static 'js/shortcodes.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
