{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <meta charset="utf-8">
    <title>ZooFun - Зоомагазин</title>
    <meta name="author" content="https://github.com/lightinger">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'dist/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'dist/app.css' %}">
    <link rel="stylesheet" href="{% static 'dist/responsive.css' %}">

    <link rel="shortcut icon" href="{% static 'images/logo/logo_new.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/logo/logo_new.png' %}">
</head>
<body class="body header-fixed">

<div class="preload preload-container">
    <div id="loaders">
        <div id="shadow"></div>
        <div id="box"></div>
    </div>
</div>

<div id="wrapper">
    <div id="page" class="clearfix">
        <div id="top-bar" class="home2 home3">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
        <div class="header-middle">
            <div class="container ">
                <div class="row">
                    <div class="col-md-12">
                        <div id="site-header-01">
                            <div class="wrap-box relative">
                                <div id="site-logo">
                                    <div id="site-logo-inner">
                                        <a href="{% url 'index' %}" rel="home" class="main-logo">
                                            <img id="logo_header" src="{% static 'images/logo/logo_new.png' %}" alt="img"
                                                 width="169" height="42">
                                        </a>
                                    </div>
                                </div>
                                <div class="search-header search">
                                    <form action="#" method="get" role="search" class="search-form">
                                        <input type="search" class="search-field" placeholder="Знайдіть потрібний продукт"
                                               value="" name="s" title="Search for" required="">
                                        <button class="search-icon search-submit" type="submit" title="Search"></button>
                                    </form>
                                </div>
                                <div class="header-account flex-three">
                                    <div class="register">
                                        <ul class="flex">
                                            <li class="link-style-1"><a href="{% url 'login-register' %}">Login/Register</a></li>
                                        </ul>
                                    </div>
                                    <div class="cart-wrap header-search flex">
                                        <div class="cart-box flex">
                                            <div class="relative">
                                                <a href="#" class="cart"><i class="fas fa-shopping-basket"></i> </a>
                                                <a href="#" class="cart-contents"><span>2</span> </a>
                                            </div>
                                            <a href="#" class="title-money fw-5">$1.00</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'header.html' %}

        {% block main %}{% endblock main %}

        {% include 'footer.html' %}

        <div class="widget-social-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <h5 class="title-bottom fw-4"> Copyright © 2023 <a
                                href="https://github.com/lightinger"
                                class="text-color-3">Oleksii Arkhipov</a>. All Rights Reserved. </h5>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="icon-bottom text-color-1">
                            <a href="https://uk-ua.facebook.com"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="img-svg">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                    <feColorMatrix in="blur" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                                   result="goo"></feColorMatrix>
                    <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                </filter>
            </defs>
        </svg>
    </div>
</div>


<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.js' %}"></script>
<script src="{% static 'js/countto.js' %}"></script>
<!--<script src="{% static 'js/countday.js' %}"></script>-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/swiper.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/jquery-validate.js' %}"></script>
<script src="{% static 'js/plugin.js' %}"></script>
<script src="{% static 'js/shortcodes.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
