{% extends 'base.html' %}
{% load static %}
{% block main %}

<section class="flat-title-page inner details">
    <div class="overlay"></div>
            <div class="col-md-12">
                <div class="page-title-heading center">
                    <h2 class="heading">Unicode UTF8 Character Sets They
                        Sltimate Guide Systems</h2>
                    <div class="title-inner ">
                        <h5 class="link-style-3"><a href="#"> 10 June, 2022 </a> <a href="#">By: admin</a> <a
                                class="home fw-4" href="#">Our Blog</a><a href="#">comments: 2</a></h5>
                    </div>
                </div>
            </div>
    </div>
</section>
<section class="tf-section2 flat-blog-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <article class="article">
                    <div class="post">
                        <div class="text-1 p-18">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incidi- dunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercita- tion ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </div>
                        <div class="box-text">
                            <p class="text-2">On the other hand, we denounce with righteous indignation and
                                dislike men who are so beguiled alized by the charms of pleasure of the moment,
                                so blinded by desire, that they cannot foresee the pain and trouble that are
                                bound to ensue; and equal blame belongs to those who fail in their
                                duty through weak- ness of the will, </p>
                            <p>which is the same as saying through shrinking from toil and pain. These cases are
                                perfectly simple and easy to distinguish. In a free hour, when
                                our power of choice is untrammelled prevents being able to do what we like
                                best,</p>
                        </div>
                        <div class="image-one">
                            <img alt="" src="{% static 'images/blog/blog-details-1.jpg' %}">
                        </div>
                        <div class="box-text style">
                            <p class="text-2">On the other hand, we denounce with righteous indignation and
                                dislike men who are so beguiled alized by the charms of pleasure of the moment,
                                so blinded by desire, that they cannot foresee the pain and trouble that are
                                bound to ensue; and equal blame belongs to those who fail in their
                                duty through weak- ness of the will, </p>
                            <p>which is the same as saying through shrinking from toil and pain. These cases are
                                perfectly simple and easy to distinguish. In a free hour, when
                                our power of choice is untrammelled prevents being able to do what we like
                                best,</p>
                        </div>
                        <blockquote class="quote-details center">
                            <div class="icon"><img alt="" src="{% static 'images/icon/icon-testi2.png' %}"></div>
                            <h3 class="fw-5"> Nor again is there anyone who loves or pursues or desires to
                                obtain pain of itself, because it is pain, but because occasionally
                                circumstances occur
                                in which toil and pain can procure some great pleasure. To take a trivial
                                example,</h3>
                        </blockquote>
                        <div class="box-text style2">
                            <p class="text-2">At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                blanditiis praesentium voluptatum dele- niti atque corrupti quos dolores et quas
                                molestias
                                excepturi sint occaecati cupiditate non provident, simi- lique sunt in culpa qui
                                officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem
                                rerum
                                facilis est et expedita distinctio. </p>
                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
                                minus id maxime placeat facere possimus, omnis voluptas assumenda est, omnis
                                dolor
                                repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum
                                necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non
                                recusandae.</p>
                        </div>
                        <div class="box-item flex-two">
                            <div class="tags flex-three ">
                                <h3 class="title-tag fw-6">Tags:</h3>
                                <div class="flex fs-16 link-style-7 font-2 fw-4">
                                    <a href="#">Natural</a>
                                    <a href="#">Organic</a>
                                </div>
                            </div>
                            <div class="share flex-three ">
                                <h3 class="title-share fw-6">Share:</h3>
                                <div class="icon-share link-style-6">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="comments" id="comments">
                            <div class="title-comment title-36 fw-6">Comments (2)</div>
                            <ol class="comment-list">
                                <li class="comment-01">
                                    <div class="comment-avatar flex-two">
                                        <div class="avatar-box flex-three">
                                            <div class="images">
                                                <img alt="images" src="{% static 'images/blog/avatar-1.jpg' %}">
                                            </div>
                                            <div class="author">
                                                <h4 class="fw-6"> Nico Markusa </h4>
                                                <h6 class="font fw-4">March 17, 2021 - 7:46 am</h6>
                                            </div>
                                        </div>
                                        <div class="reply-box"><a class="reply" href="#">Reply</a></div>
                                    </div>
                                    <div class="comment-content">
                                        <div class="comment-text">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                                                ipsum
                                                suspendisse ultrices gravida. maecenas the accumsan lacus vel
                                                facilisis. </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment-01">
                                    <div class="comment-avatar flex-two">
                                        <div class="avatar-box flex-three">
                                            <div class="images">
                                                <img alt="images" src="{% static 'images/blog/avatar-2.jpg' %}">
                                            </div>
                                            <div class="author">
                                                <h4 class="fw-6"> Nico Markusa </h4>
                                                <h6 class="font fw-4">March 17, 2021 - 7:46 am</h6>
                                            </div>
                                        </div>
                                        <div class="reply-box"><a class="reply" href="#">Reply</a></div>
                                    </div>
                                    <div class="comment-content">
                                        <div class="comment-text">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                                                ipsum
                                                suspendisse ultrices gravida. maecenas the accumsan lacus vel
                                                facilisis. </p>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                            <div class="respond-comment" id="respond">
                                <div class="title-comment2 title-36 fw-6">Leave A Comment</div>
                                <form accept-charset="utf-8" action="./contact/contact-process.php" class="comment-form form-submit"
                                      id="contactform" method="post"
                                      novalidate="novalidate">
                                    <div class="text-wrap clearfix">
                                        <fieldset class="name-wrap style-text">
                                            <input aria-required="true" class="tb-my-input" id="name" name="name"
                                                   placeholder="Full Name" required="" size="32" tabindex="1"
                                                   type="text" value="">
                                        </fieldset>
                                        <fieldset class="email-wrap style-text">
                                            <input aria-required="true" class="tb-my-input" id="email" name="email"
                                                   placeholder="Email Address" required="" size="32" tabindex="2"
                                                   type="email" value="">
                                        </fieldset>
                                    </div>
                                    <fieldset class="website-wrap">
                                        <input aria-required="true" class="tb-my-input" id="url" name="url" placeholder="Website"
                                               required="" size="32" tabindex="2" type="url"
                                               value="">
                                    </fieldset>
                                    <fieldset class="message-wrap">
                                        <textarea aria-required="true" id="comment-message" name="message" placeholder="Comments"
                                                  rows="6" tabindex="5"></textarea>
                                    </fieldset>
                                    <div class="buttons">
                                        <button class="blob-btn btn-style" id="comment-reply" name="submit"
                                                type="submit">
                                            Send Comments
                                            <span class="blob-btn__inner">
                                            <span class="blob-btn__blobs">
                                            <span class="blob-btn__blob"></span>
                                            <span class="blob-btn__blob"></span>
                                            <span class="blob-btn__blob"></span>
                                            <span class="blob-btn__blob"></span>
                                            </span>
                                            </span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
{% include 'subscribe.html' %}
{% endblock main %}



