{% extends 'base.html' %}
{% load static %}
{% block main %}

 <section class="flat-title-page inner">
     <div class="overlay"></div>
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                 <div class="page-title-heading center">
                     <h2 class="heading">Our Blog</h2>
                     <div class="title-inner link-style-3">
                         <h5 class=""><a class="home fw-4" href="{% url 'index' %}">Главная</a><span>Наш блог</span></h5>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <section class="tf-section flat-blog">
     <div class="container">
         <div class="row">
             <div class="col-lg-4 col-md-6 col-sm-12">
                 <div class="blog-box tf-img hover-img hv-one">
                     <a class="media img-style" href="blog-details.html">
                         <img alt="" class="img-item" src="{% static 'images/blog/blog-1.jpg' %}">
                         <span class="hover-one"></span>
                     </a>
                     <div class="content">
                         <div class="days absolute">
                             <div class="number">10</div>
                             <div class="titles">June</div>
                         </div>
                         <h4><a href="{% url 'blog-details' %}">Как выбрать корм для вашего кота</a></h4>
                         <p>Написат ькакую то статью</p>
                         <div class="meta flex-one">
                             <a class="btn-button flex fw-5" href="blog-details.html">Read More</a>
                             <a class="comment flex" href="blog-details.html">0 Comments</a>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-4 col-md-6 col-sm-12">
                 <div class="blog-box tf-img hover-img hv-one">
                     <a class="media img-style" href="blog-details.html">
                         <img alt="" class="img-item" src="{% static 'images/blog/blog-2.jpg' %}">
                         <span class="hover-one"></span>
                     </a>
                     <div class="content">
                         <div class="days absolute">
                             <div class="number">10</div>
                             <div class="titles">June</div>
                         </div>
                         <h4><a href="blog-details.html">Farming</a></h4>
                         <h3><a href="blog-details.html">Quality Foods Requirments
                             For Every Human Body’s</a></h3>
                         <p>Nemo enim ipsam voluptatem luptas sit aspernatur aut odit aut fugit,</p>
                         <div class="meta flex-one">
                             <a class="btn-button flex fw-5" href="blog-details.html">Read More</a>
                             <a class="comment flex" href="blog-details.html">0 Comments</a>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-4 col-md-6 col-sm-12">
                 <div class="blog-box tf-img hover-img hv-one">
                     <a class="media img-style" href="blog-details.html">
                         <img alt="" class="img-item" src="{% static 'images/blog/blog-3.jpg' %}">
                         <span class="hover-one"></span>
                     </a>
                     <div class="content">
                         <div class="days absolute">
                             <div class="number">10</div>
                             <div class="titles">June</div>
                         </div>
                         <h4><a href="blog-details.html">Organic Fruits</a></h4>
                         <h3><a href="blog-details.html">Unicode UTF8 Character Sets
                             They Sltimate Guide Systems</a></h3>
                         <p>Nemo enim ipsam voluptatem luptas sit aspernatur aut odit aut fugit,</p>
                         <div class="meta flex-one">
                             <a class="btn-button flex fw-5" href="blog-details.html">Read More</a>
                             <a class="comment flex" href="blog-details.html">0 Comments</a>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-4 col-md-6 col-sm-12">
                 <div class="blog-box tf-img hover-img hv-one">
                     <a class="media img-style" href="blog-details.html">
                         <img alt="" class="img-item" src="{% static 'images/blog/blog-3.jpg' %}">
                         <span class="hover-one"></span>
                     </a>
                     <div class="content">
                         <div class="days absolute">
                             <div class="number">10</div>
                             <div class="titles">June</div>
                         </div>
                         <h4><a href="blog-details.html">Vegetable</a></h4>
                         <h3><a href="blog-details.html">Unicode UTF8 Character Sets
                             They Sltimate Guide Systems</a></h3>
                         <p>Nemo enim ipsam voluptatem luptas sit aspernatur aut odit aut fugit,</p>
                         <div class="meta flex-one">
                             <a class="btn-button flex fw-5" href="blog-details.html">Read More</a>
                             <a class="comment flex" href="blog-details.html">0 Comments</a>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-4 col-md-6 col-sm-12">
                 <div class="blog-box tf-img hover-img hv-one">
                     <a class="media img-style" href="blog-details.html">
                         <img alt="" class="img-item" src="{% static 'images/blog/blog-4.jpg' %}">
                         <span class="hover-one"></span>
                     </a>
                     <div class="content">
                         <div class="days absolute">
                             <div class="number">10</div>
                             <div class="titles">June</div>
                         </div>
                         <h4><a href="blog-details.html">Farming</a></h4>
                         <h3><a href="blog-details.html">Quality Foods Requirments
                             For Every Human Body’s</a></h3>
                         <p>Nemo enim ipsam voluptatem luptas sit aspernatur aut odit aut fugit,</p>
                         <div class="meta flex-one">
                             <a class="btn-button flex fw-5" href="blog-details.html">Read More</a>
                             <a class="comment flex" href="blog-details.html">0 Comments</a>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-4 col-md-6 col-sm-12">
                 <div class="blog-box tf-img hover-img hv-one">
                     <a class="media img-style" href="blog-details.html">
                         <img alt="" class="img-item" src="{% static 'images/blog/blog-2.jpg' %}">
                         <span class="hover-one"></span>
                     </a>
                     <div class="content">
                         <div class="days absolute">
                             <div class="number">10</div>
                             <div class="titles">June</div>
                         </div>
                         <h4><a href="blog-details.html">Organic Fruits</a></h4>
                         <h3><a href="blog-details.html">Unicode UTF8 Character Sets
                             They Sltimate Guide Systems</a></h3>
                         <p>Nemo enim ipsam voluptatem luptas sit aspernatur aut odit aut fugit,</p>
                         <div class="meta flex-one">
                             <a class="btn-button flex fw-5" href="blog-details.html">Read More</a>
                             <a class="comment flex" href="blog-details.html">0 Comments</a>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-12">
                 <div class="themesflat-pagination clearfix center">
                     <ul>
                         <li><a class="page-numbers style" href="#"><i class="far fa-angle-left"></i></a></li>
                         <li><a class="page-numbers" href="#">1</a></li>
                         <li><a class="page-numbers current" href="#">2</a></li>
                         <li><a class="page-numbers" href="#">3</a></li>
                         <li><a class="page-numbers" href="#">4</a></li>
                         <li><a class="page-numbers" href="#">5</a></li>
                         <li><a class="page-numbers style" href="#"><i class="far fa-angle-right"></i></a></li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>
 </section>

{% include 'subscribe.html' %}
{% endblock main %}
