{% extends 'base.html' %}
{% load static %}
{% block main %}

<section class="flat-title-page inner"><div class="overlay"></div>
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="page-title-heading center">
<h2 class="heading">FAQ</h2>
<div class="title-inner link-style-3">
 <h5 class=""><a class="home fw-4" href="index.html">Home</a><span>FAQ</span></h5>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="tf-section2 flat-faq">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
<div class="heading-section center">
<h5>Frequently Asked Questions</h5>
<h2>What Are You Looking For?</h2>
</div>
<div class="wrap-faq">
<div class="flat-accordion fl-faq-content">
<div class="flat-toggle">
<h3 class="toggle-title active">What is Lorem Ipsum? <div class="btn-toggle"></div> </h3>
<div class="toggle-content section-desc">
<p class="texts">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
<P>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
generator on the Internetdictionary of over 200 Latin words, combined with a handful of model sentence structures, to
generate Lorem Ipsum which looks reasonable.</P>
</div>
</div>
<div class="flat-toggle">
<h3 class="toggle-title">Why do we use it? <div class="btn-toggle"></div> </h3>
<div class="toggle-content section-desc">
<p class="texts">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
<P>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
generator on the Internetdictionary of over 200 Latin words, combined with a handful of model sentence structures, to
generate Lorem Ipsum which looks reasonable.</P>
</div>
</div>
<div class="flat-toggle">
<h3 class="toggle-title">Where can I get some? <div class="btn-toggle"></div> </h3>
<div class="toggle-content section-desc">
<p class="texts">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
<P>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
generator on the Internetdictionary of over 200 Latin words, combined with a handful of model sentence structures, to
generate Lorem Ipsum which looks reasonable.</P>
</div>
</div>
<div class="flat-toggle">
<h3 class="toggle-title">What is Lorem Ipsum? <div class="btn-toggle"></div> </h3>
<div class="toggle-content section-desc">
<p class="texts">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage 
of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
<P>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
generator on the Internetdictionary of over 200 Latin words, combined with a handful of model sentence structures, to
generate Lorem Ipsum which looks reasonable.</P>
</div>
</div>
<div class="flat-toggle">
<h3 class="toggle-title">Where does it come from? <div class="btn-toggle"></div> </h3>
<div class="toggle-content section-desc">
<p class="texts">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
<P>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
generator on the Internetdictionary of over 200 Latin words, combined with a handful of model sentence structures, to
generate Lorem Ipsum which looks reasonable.</P>
</div>
</div>
<div class="flat-toggle">
<h3 class="toggle-title">Where does it come from? <div class="btn-toggle"></div> </h3>
<div class="toggle-content section-desc">
<p class="texts">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
<P>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
generator on the Internetdictionary of over 200 Latin words, combined with a handful of model sentence structures, to
generate Lorem Ipsum which looks reasonable.</P>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="flat-subscribe">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-12">
<div class="heading-section">
<h5 class="text-color-1">Subsrribe Here</h5>
<h2 class="text-color-1">Subscribe To Newsletter</h2>
<h4 class="fw-4 text-color-1">Duis aute irure dolor in reprehenderit in voluptate velit dolore eu fugiat nulla pariatur.</h4>
 </div>
</div>
<div class="col-lg-6 col-md-12">
<div class="widget-subcribe">
<div class="form-subcribe">
<form id="subscribe-form" action="#" method="GET" accept-charset="utf-8" class="form-submit flex">
<input name="email" value="" class="email" type="email" placeholder="Email Address" required>
<button id="submit" name="submit" type="submit">
<span>Subsrcribe Now</span>
</button>
</form>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock main %}