{% load static %}

<footer id="footer" class="clearfix page">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <div class="widget widget-logo">
                    <div class="flat-box">
                        <div class="logo-footer style" id="logo-footer">
                            <a href="index.html">
                                <img id="logo_footer" src="{% static 'images/logo/logo_new.png' %}" alt="img"
                                     width="169" height="42">
                            </a>
                        </div>
                        <p class="sub-widget-logo lh-28">We are always waiting for you in our store. </p>
                        <h6 class="">Address: <span class="fw-4">Ukraine, Odessa, Bunina street, 15 </span></h6>
                        <h6 class="link-style-4">Email: <a href="a.g.arhipov@gmail.com" class="fw-4"><span
                                class="__cf_email__" data-cfemail="25464a4844554b5c654d4456514d404840560b464a48">[email&#160;protected]</span>
                        </a></h6>
                        <h6 class="link-style-4">Call us: <a href="tel:0990132309" class="fw-4">+38 099-013-23-09</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6">
                <div class="widget widget-menu style-2 ">
                    <div class="title-widget fw-6">Сторінки</div>
                    <ul class="box-menu link-style-4">
                        <li><a href="about.html">Про нас</a></li>
                        <li><a href="blog.html">Наш Блог</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6">
                <div class="widget widget-menu style-3 ">
                    <ul class="box-menu link-style-4">
                        <li><a href="shop-grid.html">Каталог</a></li>
                        <li><a href="contact.html">Контакти</a></li>
                        <li><a href="faq.html">Our FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="widget widget-menu style-4">
                    <div class="title-widget fw-6">Цікаві статті</div>
                    <ul class="recent-news ">
                        <li class="hover-img flex">
                            <div class="thumb img-style ">
                                <a href="blog-details.html"><img class="img" src="{% static 'images/blog/pots-1.jpg' %}"
                                                                 alt="images"></a>
                            </div>
                            <div class="content link-style-3">
                                <h5 class="fw-6"><a href="blog-details.html">Як вибрати харчування для вашого кота</a></h5>
                                <h6 class="days fw-4">15 Вересня, 2023</h6>
                            </div>
                        </li>6
                        <li class="hover-img flex">
                            <div class="thumb img-style ">
                                <a href="blog-details.html"><img class="img" src="{% static 'images/blog/pots-2.jpg' %}"
                                                                 alt="images"></a>
                            </div>
                            <div class="content link-style-3">
                                <h5 class="fw-6"><a href="blog-details.html">Які іграшки підходять для великих собак</a></h5>
                                <h6 class="days fw-4">10 Вересня, 2023</h6>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="scroll-top" class="go-top"><h5 class="text-color-3"><a class=""></a> Go To Top</h5></div>
</footer>