{% extends 'base.html' %}
{% load static %}
{% block main %}
<section class="slider home3">
    <div class="swiper-container mainslider2">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slider-item">
                    <div class="flat-slider">
                        <div class="img-slider">
                            <img class="img-item" src="{% static 'images/slider/slider-3.jpg' %}" alt="">
                            <div class="overlay"></div>
                        </div>
                        <div class="container">
                            <div class="content center">
                                <div class="heading">
                                    <div class="sub-title">Welcome to shop ZooFun</div>
                                    <h1 class="text-color-1">100% Good pet staff</h1>
                                </div>
                                <div class="flat-bt-slider">
                                    <div class="sl-button buttons">
                                        <a class="blob-btn btn-style" href="{% url 'catalog' 'zootovari' %}">
                                            Shop now
                                            <span class="blob-btn__inner">
                                            <span class="blob-btn__blobs">
                                            <span class="blob-btn__blob"></span>
                                            <span class="blob-btn__blob"></span>
                                            <span class="blob-btn__blob"></span>
                                            <span class="blob-btn__blob"></span>
                                            </span>
                                            </span>
                                        </a>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-item">
                    <div class="flat-slider">
                        <div class="img-slider">
                            <img class="img-item" src="{% static 'images/slider/slider-1.jpg' %}" alt="">
                            <div class="overlay"></div>
                        </div>
                        <div class="container">
                            <div class="content center">
                                <div class="heading">
                                    <div class="sub-title">100% Organic Foods</div>
                                    <h1 class="text-color-1">Organic Veggies & Foods
                                        You Cook Healthy</h1>
                                </div>
                                <div class="flat-bt-slider">
                                    <div class="sl-button buttons">
                                        <a class="blob-btn btn-style" href="shop-left-sidebar.html">
                                            Shop Organic
                                            <span class="blob-btn__inner">
                                            <span class="blob-btn__blobs">
                                            <span class="blob-btn__blob"></span>
                                            <span class="blob-btn__blob"></span>
                                             <span class="blob-btn__blob"></span>
                                            <span class="blob-btn__blob"></span>
                                            </span>
                                            </span>
                                        </a>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button-custom-slider">
        <div class="swiper-button-next3 button-slide-custom-next"><i class="far fa-angle-right"></i></div>
        <div class="swiper-button-prev3 button-slide-custom-prev"><i class="far fa-angle-left"></i></div>
    </div>
</section>

{% include 'categories-for-index.html' %}

<section class="flat-fresh home3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="box-organic box-1">
                    <div class="images hover-img3 ">
                        <div class="img-style3"><img src="{% static 'images/img-box/item-dog-1.webp' %}" alt="images"></div>
                        <div class="content">
                            <div class="sub-title link-style-3 title-30 fw-7"><a href="#">Для собак</a></div>
                            <h3 class="text-color-1"></h3>
                            <div class="meta link-style-3">
                                <a href="{% url 'catalog' 'sobaki' %}" class="btn-button flex fw-5">ДО КАТАЛОГУ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="box-organic box-1">
                    <div class="images hover-img3 ">
                        <div class="img-style3"><img src="{% static 'images/img-box/item-cat-1.webp' %}" alt="images"></div>
                        <div class="content">
                            <div class="sub-title link-style-3 title-30 fw-7"><a href="#">Для котів</a></div>
                            <div class="meta link-style-3">
                                <a href="{% url 'catalog' 'koti' %}" class="btn-button flex fw-5">ДО КАТАЛОГУ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'products_for_index.html' %}

<section class="tf-section2 flat-why-choose">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="heading-section center">
                    <h2>Чому люди обирають нас</h2>
                </div>
                <div class="wrap-why-choose">
                    <div class="box flex-one">
                        <div class="box-1">
                            <div class="inner inner-1 mb-203 flex">
                                <div class="content po-content-two">
                                    <h3 class="link-style-1"><a>Швидка доставка</a></h3>
                                    <p>Очень быстро доставляем</p>
                                </div>
                                <div class="icon po-content-one">
                                    <img src="{% static 'images/icon/icon-home2-1.png' %}" alt="images">
                                </div>
                            </div>
                            <div class="inner inner-1 flex">
                                <div class="content po-content-two">
                                    <h3 class="link-style-1"><a>Гарантія цілісності товару</a></h3>
                                    <p>Все приходит целым</p>
                                </div>
                                <div class="icon po-content-one">
                                    <img src="{% static 'images/icon/icon-home2-2.png' %}" alt="images">
                                </div>
                            </div>
                        </div>
                        <div class="box-2">
                            <div class="inner inner-2  mb-203 flex">
                                <div class="icon">
                                    <img src="{% static 'images/icon/icon-home2-3.png' %}" alt="images">
                                </div>
                                <div class="content">
                                    <h3 class="link-style-1"><a>Можливість повернення коштів</a></h3>
                                    <p>Если товар не понравится вернем ваши деньги</p>
                                </div>
                            </div>
                            <div class="inner inner-2 flex">
                                <div class="icon">
                                    <img src="{% static 'images/icon/icon-7.png' %}" alt="images">
                                </div>
                                <div class="content">
                                    <h3 class="link-style-1"><a href="#">Завжди на зв'язку</a></h3>
                                    <p>Всегда готовы ответить на ваши вопросы</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mark-images">
                        <img src="{% static 'images/img-box/why-choose-1.jpg' %}" alt="images">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tf-section flat-video">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="video-box center">
                    <div class="heading-section style">
                        <h2 class="text-color-1">Якийсь смішний ролик</h2>
                    </div>
                    <div class="post-video flex-five">
                        <a href="https://www.youtube.com/watch?v=3AvTnh3Aimo" class="lightbox-image">
                            <i class="fas fa-play"></i>
                            <i class="ripple"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'reviews_for_index.html' %}
{% include 'subscribe.html' %}
{% endblock main %}