<div class="box box-hv">
    <div class="images hover-style">
        <a href="{% url 'product' product.slug %}"><img src="{{ product.images.all.0.image.url }}"
                                            alt="images"></a>
        <div class="icon-list flex">
            <a class="icon-1" href="{% url 'product' product.slug %}"><i class="far fa-search"></i></a>
            <a class="icon-2" href="{% url 'basket_add' product.id %}"><i class="fas fa-shopping-basket"></i></a>
        </div>
    </div>
    <div class="content">
        <h3 class="link-style-6"><a href="{% url 'product' product.slug %}">{{ product.title }}</a></h3>
        <div class="money">
            <span class="two">{{ product.price }} ₴</span>
        </div>
    </div>
</div>