{% extends 'base.html' %}
{% load static %}
{% block main %}

<section class="flat-title-page inner">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading center">
                    <h2 class="heading ">Вход/Регистрация</h2>
                    <div class="title-inner link-style-3">
                        <h5 class=""><a class="home fw-4" href="{% url 'index' %}">Главная</a><span>Вход/Регистрация</span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Login & Register Page Start -->
<div class="page-section section mt-100 mb-60 mt-xs-70 mb-xs-30">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-12 mb-40">
                <div class="login-register-form-wrap">
                    <h3>Login</h3>
                    <form action="{% url 'login-register' %}" method="post" class="mb-30">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 mb-15"><input type="text" name="email" placeholder="Email" required></div>
                            <div class="col-12 mb-15 standard"><input type="password" name="password" placeholder="Password" required></div>
                            <div class="col-12" style="height: 35px"><input type="submit" name="submit_button" value="Login"></div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-2 col-12 mb-40 text-center">
                <span class="login-register-separator"></span>
            </div>

            <div class="col-lg-6 col-12 mb-40 ml-auto">
                <div class="login-register-form-wrap">
                    <h3>Register</h3>
                    <form method="post" action="{% url 'login-register' %}">
                    {% csrf_token %}
                        <div class="row">
<!--                            <div class="col-md-6 col-12 mb-15"><input type="text" placeholder="Your Name"></div>-->
                            <div class="col-md-6 col-12 mb-15 standard"><input type="email" name="email" placeholder="Email" required></div>
                            <div class="col-md-6 col-12 mb-15"><input type="password" name="password1" placeholder="Password" required></div>
<!--                            <div class="col-md-6 col-12 mb-15"><input type="text" placeholder="User Name"></div>-->
                            <div class="col-md-6 col-12 mb-15 standard"><input type="password" name="password2" placeholder="Confirm Password" required></div>

                            <div class="col-md-6 col-12"><input type="submit" name="submit_button" value="Register"></div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Login & Register Page End -->

{% include 'subscribe.html' %}
{% endblock main %}
