<div class="col-lg-12">
    <div class="themesflat-pagination clearfix center">
        <ul>
            <!-- Добавьте кнопку для перехода на самую первую страницу -->
            {% if products.has_previous %}
                <li><a href="?s={{ query }}&page=1&sort={{ sort_option }}" class="page-numbers style"><i class="far fa-angle-double-left"></i></a></li>
            {% endif %}

            <!-- Добавьте кнопку для перехода на предыдущую страницу -->
            {% if products.has_previous %}
                <li><a href="?s={{ query }}&page={{ products.previous_page_number }}&sort={{ sort_option }}" class="page-numbers"><i class="far fa-angle-left"></i></a></li>
            {% endif %}

            <!-- Отобразите каждую страницу в диапазоне -->
            {% for page_number in page_range %}
                <li>
                    <a href="?s={{ query }}&page={{ page_number }}&sort={{ sort_option }}" class="page-numbers {% if products.number == page_number %}current{% endif %}">
                        {{ page_number }}
                    </a>
                </li>
            {% endfor %}

            <!-- Добавьте кнопку для перехода на следующую страницу -->
            {% if products.has_next %}
                <li><a href="?s={{ query }}&page={{ products.next_page_number }}&sort={{ sort_option }}" class="page-numbers"><i class="far fa-angle-right"></i></a></li>
            {% endif %}

            <!-- Добавьте кнопку для перехода на самую последнюю страницу -->
            {% if products.has_next %}
                <li><a href="?s={{ query }}&page={{ products.paginator.num_pages }}&sort={{ sort_option }}" class="page-numbers style"><i class="far fa-angle-double-right"></i></a></li>
            {% endif %}
        </ul>
    </div>
</div>