{% load static %}

<section class="tf-section2 flat-trending">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="heading-section center">
                    <h2>Популярні товари</h2>
                </div>
                <div class="flat-tabs themesflat-tabs">
                    <div class="box-tab center">
                        <ul class="menu-tab tab-title">
                            <li class="item-title">
                                <h4 class="inner fw-7">Мінімальна ціна</h4>
                            </li>
                            <li class="item-title active">
                                <h4 class="inner fw-7">Акції</h4>
                            </li>
                            <li class="item-title">
                                <h4 class="inner fw-7">Максимальна ціна</h4>
                            </li>
                        </ul>
                    </div>
                    <div class="content-tab flat-special">
                        <div class="content-inner tab-content">
                            <div class="swiper-container carousel-6" data-aos="fade-up" data-aos-duration="2000">
                                <div class="swiper-wrapper">
                                    {% for product in products %}
                                    <div class="swiper-slide">
                                        <div class="box-special box-hv">
                                            <div class="images hover-style">
                                                <a href="{}">
                                                    {% for image in product.images.all|slice:":1" %}
                                                    <img class="img-default"
                                                         src="{{ image.image.url }}" alt="images">
                                                    <img class="img-hover"
                                                         src="{{ image.image.url }}" alt="images">
                                                    {% endfor %}
                                                </a>
                                                <div class="icon-list flex">
                                                    <a class="icon-1" href="{% url 'product' product.slug %}"><i class="far fa-search"></i></a>
                                                    <a class="icon-2" href="{% url 'basket_add' product.id %}"><i
                                                            class="fas fa-shopping-basket"></i></a>
                                                </div>
                                                <div class="tag-text"> -20%</div>
                                            </div>
                                            <div class="content">

                                                <h4 class="link-style-6 fw-6"><a href="{% url 'product' product.slug %}">{{ product.title }}</a></h4>
                                                <div class="money">
                                                    {% if product.old_price %}
                                                    {% if product.old_price != product.price %}
                                                    <span class="two"><del>{{ product.old_price }}</del></span>
                                                        {% endif %}
                                                        {% endif %}
                                                    <span class="two">{{ product.price }} ₴</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="content-inner tab-content">
                            <div class="swiper-container carousel-15" data-aos="fade-up" data-aos-duration="2000">
                                <div class="swiper-wrapper">
                                     {% for product in products %}
                                    <div class="swiper-slide">
                                        <div class="box-special box-hv">
                                            <div class="images hover-style">
                                                <a href="product-details.html">
                                                    {% for image in product.images.all|slice:":1" %}
                                                    <img class="img-default"
                                                         src="{{ image.image.url }}" alt="images">
                                                    <img class="img-hover"
                                                         src="{{ image.image.url }}" alt="images">
                                                    {% endfor %}
                                                </a>
                                                <div class="icon-list flex">
                                                    <a class="icon-1" href="#"><i class="far fa-search"></i></a>
                                                    <a class="icon-2" href="#"><i
                                                            class="fas fa-shopping-basket"></i></a>
                                                    <a class="icon-3" href="#"><i class="far fa-heart"></i></a>
                                                </div>
                                                <div class="tag-text"> -20%</div>
                                            </div>
                                            <div class="content">

                                                <h4 class="link-style-6 fw-6"><a href="{% url 'product' product.slug %}">{{ product.title }}</a></h4>
                                                <div class="money">
                                                    {% if product.old_price %}
                                                    {% if product.old_price != product.price %}
                                                    <span class="two"><del>{{ product.old_price }}</del></span>
                                                        {% endif %}
                                                        {% endif %}
                                                    <span class="two">{{ product.price }} грн</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="content-inner tab-content">
                            <div class="swiper-container carousel-16" data-aos="fade-up" data-aos-duration="2000">
                                <div class="swiper-wrapper">
                                    {% for product in products %}
                                    <div class="swiper-slide">
                                        <div class="box-special box-hv">
                                            <div class="images hover-style">
                                                <a href="product-details.html">
                                                    {% for image in product.images.all|slice:":1" %}
                                                    <img class="img-default"
                                                         src="{{ image.image.url }}" alt="images">
                                                    <img class="img-hover"
                                                         src="{{ image.image.url }}" alt="images">
                                                    {% endfor %}
                                                </a>
                                                <div class="icon-list flex">
                                                    <a class="icon-1" href="#"><i class="far fa-search"></i></a>
                                                    <a class="icon-2" href="#"><i
                                                            class="fas fa-shopping-basket"></i></a>
                                                    <a class="icon-3" href="#"><i class="far fa-heart"></i></a>
                                                </div>
                                                <div class="tag-text"> -20%</div>
                                            </div>
                                            <div class="content">

                                                <h4 class="link-style-6 fw-6"><a href="{% url 'product' product.slug %}">{{ product.title }}</a></h4>
                                                <div class="money">
                                                    {% if product.old_price %}
                                                    {% if product.old_price != product.price %}
                                                    <span class="two"><del>{{ product.old_price }}</del></span>
                                                        {% endif %}
                                                        {% endif %}
                                                    <span class="two">{{ product.price }} грн</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>