{% load static %}

<section class="flat-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="heading-section">
                    <h2 class="text-color-1">Подписаться на рассылку</h2>
                    <h4 class="fw-4 text-color-1">Підпишіться на нашу розсилку і отримуйте гарячі новини, акції та
                        корисні поради щодо наших товарів. Будьте в тренді разом з нами!.</h4>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="widget-subcribe">
                    <div class="form-subcribe">
                        <form id="subscribe-form" action="#" method="GET" accept-charset="utf-8"
                              class="form-submit flex">
                            <input name="email" value="" class="email" type="email" placeholder="Email"
                                   required>
                            <button id="submit" name="submit" type="submit">
                                <span>Підпишісь</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>